body{
    margin: 0px;
    padding: 10px;
}
p{
    color: red;
    text-transform: capitalize;
    margin: 10px 0;
    font-size: 12px;
    display: none;
}
div{
    margin: 10px 0px;
}
.hide{
    display: block;
}