body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navigation{
    display: flex;
    background: #0046BE;
    justify-items: flex-end;
    width: 100vw;
}
ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    background: #0046BE;
    color: white;
    font-size: 19px;
    font-family: Human BBY Web,Arial,Helvetica,Nimbus Sans L,Liberation Sans,FreeSans,sans-serif;
}
li{
    padding: 15px;
}

ul li a{
    text-decoration: none;
    color: white;
    transition: all 1s ease-in-out;
}

li a:hover{
    font-size: 20px;
    color: grey;
}